7DaysToDie_Data/
EasyAntiCheat/
7DaysToDie.exe
7DaysToDie_Data
7DaysToDie_EAC.exe
7dLauncher.exe
EasyAntiCheat
Launcher
Licenses
Mods
MonoBleedingEdge
UnityCrashHandler64.exe
UnityPlayer.dll
UnityPlayer_Win64_mono_x64.pdb
WindowsPlayerHeadless.pdb
WindowsPlayer_Master_mono_x64.pdb
installscript.vdf
serverconfig.xml
startdedicated.bat
steam_appid.txt
steamclient64.dll
tier0_s64.dll
vstdlib_s64.dll
7dtd_icon.ico
Data/Bluffs
Data/Bundles
Data/ItemIcons
Data/Prefabs
Data/Stamps
Data/UMATextures
Data/Worlds
Data/Addressables
Data/Music

*.pdb

