<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">
  <Identity Name="TheFunPimps.7DaystoDiePC" Publisher="CN=4072923E-20EC-442B-BE19-7DFCA8A482A2" Version="0.2007.1.0" />
  <!-- <StoreId>000000000000</StoreId> | StoreID specifies the store identity of this title. -->
  <StoreId>9P0617LN3SF9</StoreId>
  <TitleId>680ee616</TitleId>
  <MSAAppId>000000004C863440</MSAAppId>
  <ExecutableList>
    <Executable Name="7dLauncher.exe" Id="Game" />
  </ExecutableList>
  <ShellVisuals DefaultDisplayName="7 Days To Die" PublisherDisplayName="The Fun Pimps Entertainment LLC" Square150x150Logo="Logos\Square150x150Logo.png" Square44x44Logo="Logos\Square44x44Logo.png" Description="Testing stuff" ForegroundText="light" BackgroundColor="#000040" SplashScreenImage="Logos\SplashScreenImage.png" StoreLogo="Logos\StoreLogo.png" />
  <!-- <Resources> | Resources is a list of Language Locale pairs used to localize Shell Visuals.
        <Resource Language="en-us"/>
        <Resource Language="de-de"/>
        <Resource Language="es-mx"/>
  </Resources> -->
  <DevelopmentOnly>
    <ContentIdOverride>3EA05A8A-CF24-4938-A6D8-389540AEB2E4</ContentIdOverride>
  </DevelopmentOnly>
  <DesktopRegistration>
    <CustomInstallActions>
      <Folder>EasyAntiCheat</Folder>
      <InstallActionList>
        <InstallAction File="EasyAntiCheat_EOS_Setup.exe" Name="EacServiceSetup" Arguments="install 85fffb61212b491999cd7fc03eb09bf6" />
      </InstallActionList>
      <RepairActionList>
        <RepairAction File="EasyAntiCheat_EOS_Setup.exe" Name="EacServiceSetup" Arguments="install 85fffb61212b491999cd7fc03eb09bf6" />
      </RepairActionList>
      <UninstallActionList>
        <UninstallAction File="EasyAntiCheat_EOS_Setup.exe" Name="EacServiceSetup" Arguments="uninstall 85fffb61212b491999cd7fc03eb09bf6" />
      </UninstallActionList>
    </CustomInstallActions>
    <!-- <ModFolder Name="Xbox Game" /> | ModFolder defines the location of end-user mods for your game files.-->
    <DependencyList>
      <KnownDependency Name="VC14" />
      <KnownDependency Name="DX11" />
      <!-- <Dependency Name="Microsoft.DirectXRuntime" MinVersion="9.29.952.0" /> -->
    </DependencyList>
    <ProcessorArchitecture>x64</ProcessorArchitecture>
    <MultiplayerProtocol>true</MultiplayerProtocol>
  </DesktopRegistration>
</Game>